:root{
/*colores*/
--StrongCyan: hsl(171, 66%, 44%);
--LightBlue: hsl(233, 100%, 69%);
--DarkGrayishBlue: hsl(210, 10%, 33%);
--GrayishBlue: hsl(201, 11%, 66%);

/* fuentes */
font-size: 18px;
font-family: 'Bai Jamjuree', sans-serif;
--font-light: 400;
--font-bold: 600;
}

/* globales */

h1{
    text-align: center;
    font-size: 2.5rem;
    color: var(--DarkGrayishBlue);
}

h2{
    text-align: center;
    font-size: 2rem;
    color: var(--DarkGrayishBlue);
}

h3{
    font-size: 1.5rem;
    color: var(--DarkGrayishBlue);
}

p{
    text-align: center;
    font-size: 1rem;
    color: var(--GrayishBlue);
    line-height: 1.5;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 15px 12px;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    margin-right: 10px;

    box-shadow: 0px 10px 27px -12px rgba(0,0,0,0.51);
}

.btn a{
    color: #fff;
    font-weight: var(--font-bold);
}

.btn1{
    background-color: var(--StrongCyan);
}

.btn2{
    background-color: var(--LightBlue);
}

.container{
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

.container2{
    width: 85vw;
    margin: 0 auto;
    text-align: center;
}

.mb{
    margin-bottom: 50px;
}

.mb2{
    margin-bottom: 70px;
}

.mbarticle{
    margin-bottom: 150px;
}


/* header */
header{
    background-image: url("./images/bg-header-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header .logo{
    text-align: center;
    padding-top: 20vh;
}

.header p{
    font-size: 1.2rem;
}

/*showcase*/
.showcase{
    width: 100%;
    text-align: center;
}


/* description */
.description .container2{
    display: grid;
    grid-template-columns: repeat(3, minmax(25ch, 1fr)); 
    grid-gap: 20px;
}

/* logotipos */
.logotipos .container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* footer */
.foot{
    width: 100%;
    height: 20vh;
    background-color: hsla(202, 11%, 66%, 0.158);
    padding-top: 40px;
}

.foot .container2{
    margin: auto;
}

.foot-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
    grid-gap: 20px;
}

.foot-grid .logo img{
    width: 60px;
}

.foot-grid a{
    color: var(--DarkGrayishBlue);
    font-weight: var(--font-bold);
    line-height: 2;
    text-align: left;
}

.foot-grid .block a{
    display: block;
}

.foot-grid .redes{
    align-self: center;
}

.mr{
    margin-right: 20px;
}


